In [17]:
print(10)
print(3)

10
3

In [18]:
print(10); print(3)

10
3

In [20]:
for i in range(3): # 0~2
    print(i)
    
    
print("실행 종료")

0
1
2
실행 종료

In [28]:
# 자료형
# 숫자형 : 정수, 실수
print(10)
print(10.5)
# 연산자 (+, -, *, /, % , // ,**)
print( 10 + 5)
print(10 - 5)
print(10 / 5)
print( 10 * 5)
print( 10 % 3 ) # 나머지 연산자
print( 10 // 3 ) # 몫
print( 10 ** 2) # 제곱승
print( 10 ** 3)

# 리터널 : 자연어 : 정수 리터널 , 실수 리터널
a = 10
print(a)
a = 20
print(a)
a = 20.5
print(a)

# 문자 리터널 : '' , ""
a = 'a'
print(a)
a = "a"
print(a)
b = "이숭무"
print(b)
이숭무 = 'a'
print(이숭무)
print(b) # "이숭무"
print("이숭무")

10
10.5
15
5
2.0
50
1
3
100
1000
10
20
20.5
a
a
이숭무
a

In [31]:
print("Life is too short, You need python")
str1 = "Life is too short, You need python"
print(str1)

Life is too short, You need python
Life is too short, You need python

In [33]:
print("""Life is too short, 
      You need python""")

Life is too short,
      You need python

In [35]:
print('''Life is too short, 
      You need python''')
# 문자열 리터널 : "" , '' ,"""""" ,''''''

Life is too short,
      You need python

In [37]:
print("Life's too short, You need python")

Life's too short, You need python

In [38]:
print('Life is too short, "You need python"')

Life is too short, "You need python"

In [42]:
# 숫자 리터널 ( +, - , * ,/, % , //, **)
# 문자열 연산자 : + , *
#print("이숭무" + 3)
head = "Python "
tail = "is fun"
print("=" * 30)
print(head + tail) # 연결 연산자"
print(head * 3) #  반복연산자
print("=" * 30)

==============================
Python is fun
Python Python Python
==============================

In [51]:
# indexing
a = "Life is too short"
#    01234567890123456  # index
#              1
#    76543210987654321 - 
#           1
print(a[2])
print(a[16])
print(len(a))
print(a[len(a) - 1])
print(a[-1]) # print(a[16])
print(a[-15]) # print(a[2])

# Life가져오기
print(a[0],a[1],a[2],a[3])
print(a[0]+a[1]+a[2]+a[3])

f
t
17
t
t
f
L i f e
Life

In [59]:
# slicing
a = "Life is too short"
#    01234567890123456  # index
#              1
#    76543210987654321 - 
#           1
print(a[1])
print(a[0:0+4]) # 0번부터 4번 이전까지
print(a[12:12+5])
print(a[-5: ])
print(a[:0+4])

i
Life
short
short
Life

In [61]:
a = "20010331Rainy"
birth = a[:8]
name = a[8:]
print(birth)
print(name)
year = a[:4]
month = a[4:4+2]
day = a[6:6+2]
print(year)
print(month)
print(day)

20010331
Rainy
2001
03
31

In [72]:
# 이숭무의 계좌번호 1111에는 100원이 들어 있습니다.
name = '이숭무'
account = '1111'
money = 100
# 문자열 포매팅
# print(name + "의 계좌번호 " + account + "에는 " + money + "원이 들어 있습니다.")
print("%s의 계좌번호 %s에는 %d원이 들어 있습니다."%(name, account, money ))

### 이숭무의 나이는 25살이구요 키는 175.3 입니다.
age = 25
height = 175.3 # float
print("%s의 나이는 %d살이구요 키는 %f 입니다." % (name, age, height))
print("%s의 나이는 %d살이구요 키는 %.1f 입니다." % (name, age, height))
print("%s의 나이는 %10d살이구요 키는 %.1f 입니다." % (name, age, height))
print("%s의 나이는 %-10d살이구요 키는 %.1f 입니다." % (name, age, height))
print("%10s의 나이는 %10d살이구요 키는 %.1f 입니다." % (name, age, height))
print("%-10s의 나이는 %-0d살이구요 키는 %.1f 입니다." % (name, age, height))

이숭무의 계좌번호 1111에는 100원이 들어 있습니다.
이숭무의 나이는 25살이구요 키는 175.300000 입니다.
이숭무의 나이는 25살이구요 키는 175.3 입니다.
이숭무의 나이는         25살이구요 키는 175.3 입니다.
이숭무의 나이는 25        살이구요 키는 175.3 입니다.
       이숭무의 나이는         25살이구요 키는 175.3 입니다.
이숭무       의 나이는 25살이구요 키는 175.3 입니다.

In [92]:
# format 함수를 사용한 포매팅
# 이숭무의 계좌번호 1111에는 100원이 들어 있습니다.
name = '이숭무'
account = '1111'
money = 100
print("%s의 계좌번호 %s에는 %d원이 들어 있습니다."%(name, account, money))
print("{1}의 계좌번호 {0}에는 {2}원이 들어 있습니다."
      .format(account,name, money ))

age = 25
height = 175.3
# 이숭무님의 나이는 25살이고요 키는 175.3입니다.
a = "{0}님의 나이는 {a}살이고요 키는 {h}입니다."\
                .format(name, a = age, h = height )
print(a)

이숭무의 계좌번호 1111에는 100원이 들어 있습니다.
이숭무의 계좌번호 1111에는 100원이 들어 있습니다.
이숭무님의 나이는 25살이고요 키는 175.3입니다.

In [93]:
# 이숭무의 계좌번호 1111에는 100원이 들어 있습니다.
a = f"{name}의 계좌번호 {account}에는 {money}원이 들어 있습니다."
print(a)

이숭무의 계좌번호 1111에는 100원이 들어 있습니다.

In [108]:
# 문자열을 가공하기 위한 문자열 함수
a = 'Life is too short, You need python'
print(a.count('o'))
print(a.find('n'))
print(a[a.find('n') : a.find('n') + 4])
print(a[23 : 23 + 4])
print(a.find('need'))
print(a.find('s', 7))
print(a.find('x')) # -1
print(a.index('n'))
print(a.index('need'))
print(a.index('s', 7))
#print(a.index('x')) # -1 # 실행 오류\
print(a.rindex('n'))
print(a.rfind('n'))

5
23
need
need
23
12
-1
23
23
12
33
33
Life is too short, You need python

In [134]:
print(a)
print(a.lower())
print(a.upper())
print(a)
l = a.split() # 공백문자가 구분문자. ㅡ
print(l) # 리스트로 반환
s = "Life:is:too:short,:You:need:python"
l = s.split(":") # :이 구분문자임
print(l)
print("abcd")
s = "   ab cd  "
print(s)

print(s.strip())
print(s.rstrip())
print(s.lstrip())
s = "abcabdab"
print(s.strip("ab"))
a = "Life is too short, You need python"
print(a) # Your leg is too short, You need python
print(a.replace("Life","Your leg"))
digit = "01071461970"
print(digit.isdigit()) # True
digit = "010-7146-1970"
print(digit.isdigit()) # False
alpha = "abcd"
print(alpha.isalpha()) # True
alpha = "ab cd"
print(alpha.isalpha()) # False
print(a.islower())
print(a.isupper())

Life is too short, You need python
life is too short, you need python
LIFE IS TOO SHORT, YOU NEED PYTHON
Life is too short, You need python
['Life', 'is', 'too', 'short,', 'You', 'need', 'python']
['Life', 'is', 'too', 'short,', 'You', 'need', 'python']
abcd
   ab cd
ab cd
   ab cd
ab cd
cabd
Life is too short, You need python
Your leg is too short, You need python
True
False
True
False
False

In [143]:
# 숫자 리터널 : 정수 , 실수 : 10
# 문자열 리터널 : "a" ,'a', '''a''', """a""" ,"10", a:변수 : 영어, 한국어, 중국어
# 리스트 자료형 : [] 
l = ["이숭무","이상범","이장범"] # 문자열이 있는 리스트
print(l)
# 각각의 자료형 확인
i = 10
str1 = "이숭무"
print(type(i))
print(type(str1))
print(type(l))
l = ["이숭무",100,10.5] # 혼합형 리스트
print(l)

['이숭무', '이상범', '이장범']
<class 'int'>
<class 'str'>
<class 'list'>
['이숭무', 100, 10.5]

In [147]:
a  = ["이숭무" , 35 , 175.5 , [1,2,3] ] # 리스트를 포함한 혼합형 리스트
print(a)
a = [[1,2,3], [4,5,6]] # 리스트를 포함한 리스트
print(a)
a = [] # 빈리스트
print(a)
a = "Life:is:too:short"
c = a.split(":")
print(c)

['이숭무', 35, 175.5, [1, 2, 3]]
[[1, 2, 3], [4, 5, 6]]
[]
['Life', 'is', 'too', 'short']

In [158]:
a = "Life is too short"
#    01234567890123456
#              1
print(a)
print(a[8])
l = ['Life', 'is', 'too', 'short']
#      0       1     2       3
#      4       3     2       1    -
print(l[2])
s = l[2]
print(type(s)) # 문자열 : too 
#                         012
print(l[2][1])
print(l[1] + l[2]) #  'is' + 'too'
print(l[-2])

Life is too short
t
too
<class 'str'>
o
istoo
too

In [159]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2        3
#               0   1     2
print(a[3][1])

b

In [166]:
a = "Life is too short"
#    01234567890123456
print(a[8:8+3]) # slicing
l = ["Life","is", "too", "short"]
#      0      1     2       3
#      4      3     2       1 -
print(l[1:1+2])
print(l[-3: -3+1])
print(l[1])
l[0] = "Your leg"
print(l)

too
['is', 'too']
['is']
is
['Your leg', 'is', 'too', 'short']

In [170]:
# 리스트 함수
l = ["Life","is", "too", "short"]
del l[2] # ['Life', 'is', 'short']
print(l) 
del l[0:0+2]
print(l)

['Life', 'is', 'short']
['short']

In [174]:
l = ["Life","is", "too", "short"]
del l[1:]
print(l)
l.append('is')
print(l)
l.append("too")
print(l)
l.append("short")
print(l)

['Life']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']

In [176]:
a = [1, 4, 2, 3]
# 데이터를 정렬
a.sort() # 실제 데이터가 변경이 됨
print(a)
a = [1, 4, 2, 3]

[1, 2, 3, 4]